
.message-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    color: black;
    width: 50%;
    margin-left: 25%;
}
hr{
    margin-bottom: 35px;
}
p{
    margin-bottom: 0px;
    margin-top: 5px;
}
.sendMessage{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    height: 40px;
    display: flex;
    padding: 10px;
    padding-top: 0%;
}
.message-input {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
}

.btn-leave{
    background-color: #f44336 ;
    color: white;
    position: absolute;
    top: 20px;  
    right: 20px; 
}
.btn-leave:hover{
    background-color: #b30300;
}
.btn-home {
    background-color: #007bff; 
    color: white;
    position: absolute;
    top: 20px;  
    right: 150px; 
}
.btn-home:hover {
    background-color: #0056b3;
}
.send-button {
    white-space: nowrap;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    text-decoration: None;
}

.send-button:hover {
    background-color: #0056b3;
}
.message-box, .sendMessage{
    margin: 0 auto;
    margin-top: 10px;
    max-width: 650px;
}
.currentUser{
   /* color:rgb(0, 247, 255);*/
    text-decoration: underline;
    text-decoration-color:whitesmoke ;

}
@media (max-width: 768px) {
    .message-box, .sendMessage {
        width: 80%;
        margin-left: 10%;
    }
}