{% extends 'base.html' %}

{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='style_for_inchat.css') }}">
{%endblock%}

{% block body %}
    <h1>Chat: {{ chat.name }}</h1>
    <h2>Room Code: {{ chat.roomCode }}</h2>

    
    <a  class="btn btn-home"href="{{ url_for('dashboard') }}">Home</a>
    <a id="leaveBtn" class="btn btn-leave" href="{{ url_for('leave', chat_id=chat.session_id) }}">Leave chat</a>

    <h3>Members:</h3>
    <ul id="memberList">
        {% for user in chat.users %}
            {%if user.username == session["username"] %}
            <li id="{{ user.username }}" class="currentUser"><strong>{{ user.username }}</strong>
                <em><strong>{{ user.language }}</strong></em>
            </li>
            {%else%}
            <li id="{{ user.username }}">{{ user.username }}
                <em>{{ user.language }}</em>
            </li>
            {%endif%}

        {% endfor %}
    </ul>

    <hr>

    <div id="message-box" class="message-box">
    {% for message in messages %}
    {% if user.language == message["original_language"] %} 
        <p><strong>{{ message["username"] }}:</strong> {{ message["original_content"] }}</p> 
    {% else %}
        <p><strong>{{ message["username"] }}:</strong> {{ message["translations"].get(user.language, message["original_content"]) }}</p>
    {% endif %}
    {% endfor %}
    </div>
    <div class="sendMessage">
    <input type="text" id="message-input" placeholder="Type a message..." class="message-input" />
    
    <button id="send-button" class="send-button">Send</button>
    </div>
    <br>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const socket = io.connect("http://" + document.domain + ":" + location.port);
        let userPreferredLanguage = "{{ user.language }}";

        socket.on("connect", () => {
            console.log("Socket connected, joining room...");
            socket.emit("join", { chat_id: "{{ chat.session_id }}" });
        });

        const sendButton = document.getElementById("send-button");
        const messageInput = document.getElementById("message-input");
        const chatBox = document.getElementById("message-box");
        const leave = document.getElementById("leaveBtn")
        // Send Button
        sendButton.onclick = () => {
            const message = messageInput.value.trim();
            if (message) {
                socket.emit("message", {
                    chat_id: "{{ chat.session_id }}",
                    content: message
                });
                messageInput.value = "";
            }
        };

        leave.onclick = () =>{
            socket.emit('leave', { chat_id: "{{ chat.session_id }}" });
        }

        messageInput.addEventListener("keydown", (e) => {
            if (e.key === "Enter" && !e.shiftKey) { 
                e.preventDefault(); 
                sendButton.click();
            }
        });
        // "Enter" key
       messageInput.addEventListener("keydown", (e) => {
            if (e.key === "Enter" && !e.shiftKey) { 
                e.preventDefault(); 
                const message = messageInput.value.trim();
                if (message) {
                    socket.emit("message", {
                        chat_id: "{{ chat.session_id }}",
                        content: message
                    });
                    messageInput.value = "";
                }
            }
        });

  
       socket.on("new_message", (data) => {
            console.log("message recieved")
            if (data.username && data.original_content && data.translated_content) {
                const chatBox = document.getElementById("message-box");

                let messageContent ="";

                if (userPreferredLanguage === data.sender_language){
                    messageContent = data.original_content;
                }else{
                    messageContent = data.translated_content[userPreferredLanguage];
                }
                chatBox.innerHTML += `<p><strong>${data.username}:</strong> ${messageContent}</p>`;
                chatBox.scrollTop = chatBox.scrollHeight;
            }
        }); 

        socket.on("user_joined", (data) =>{
            if(data.username && data.lang){
                if(document.getElementById(data.username)){
                console.log("Already in list")
                }
                else{
                    const memlist = document.getElementById("memberList")
                    memlist.innerHTML += `<li id="${data.username}">${data.username} <em>${data.lang}</em></li>`;
                }

            }
        });


        socket.on("user_left", (data) =>{
            console.log("logo");
            if(data.username){
                if(document.getElementById(data.username)){
                    const userElemet = document.getElementById(data.username);
                    userElemet.remove();
                }
               

            }
        });

        function scrollToBottom(){
            const chatBox = document.getElementById("message-box");
            chatBox.scrollTop = chatBox.scrollHeight;
        }
        window.onload = () => { scrollToBottom(); };
    </script>


{% endblock %}
